spring:
  profiles:
    active: dev
  application:
    name: agrotech

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:10}
      minimum-idle: 2
      idle-timeout: 300000
      connection-timeout: 30000
      max-lifetime: 1800000
      pool-name: AgroTechNeonCP

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: ${SHOW_SQL:true}
        use_sql_comments: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: ${SHOW_SQL:true}
    open-in-view: false

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: America/Sao_Paulo

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: ${LOG_SQL:DEBUG}
    com.challengeoracle.agrotech: DEBUG
